@page "/employees"

<h3 class="mb-4">Employees</h3>

<div class="card">

    <div class="card-body">

        <div class="d-flex justify-content-between mb-3">

            <input class="form-control w-25"
                   placeholder="Search employee..." />

            <button class="btn btn-primary">
                Add Employee
            </button>

        </div>

        <table class="table table-hover">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Email</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>EMP001</td>
                    <td>Bat-Erdene</td>
                    <td>IT</td>
                    <td>bat@example.com</td>
                    <td>
                        <span class="badge bg-success">
                            Active
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>EMP002</td>
                    <td>Anu</td>
                    <td>HR</td>
                    <td>anu@example.com</td>
                    <td>
                        <span class="badge bg-success">
                            Active
                        </span>
                    </td>
                </tr>

            </tbody>

        </table>

    </div>

</div>