@page "/dashboard"

<h2 class="mb-4">Dashboard</h2>

<div class="row">

    <div class="col-md-3">
        <div class="stat-card">
            <h3>120</h3>
            <span>Total Employees</span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="stat-card">
            <h3>97</h3>
            <span>Present Today</span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="stat-card">
            <h3>8</h3>
            <span>Late Employees</span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="stat-card">
            <h3>15</h3>
            <span>On Leave</span>
        </div>
    </div>

</div>