@inherits LayoutComponentBase

<div class="app-layout">

    <Sidebar />

    <div class="main-content">

        <Navbar />

        <div class="page-content">
            @Body
        </div>

        <Footer />

    </div>

</div>