<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AttendanceSystem.Blazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <a href="/admin/dashboard">Dashboard</a>
        <a href="/admin/employees">Employees</a>
        <a href="/attendance">Attendance</a>
        <a href="/admin/leave">Leave</a>
        <a href="/admin/reports">Reports</a>
        <a href="/settings">Settings</a>
    </nav>
</div>

