<div class="sidebar">
    <div class="logo">
        <h4>AttendanceMS</h4>
    </div>

    <nav>
        <a href="/admin/dashboard">
            <i class="fas fa-chart-line"></i>
            Dashboard
        </a>

        <a href="/admin/employees">
            <i class="fas fa-users"></i>
            Employees
        </a>

        <a href="/departments">
            <i class="fas fa-building"></i>
            Departments
        </a>

        <a href="/attendance">
            <i class="fas fa-calendar-check"></i>
            Attendance
        </a>

        <a href="/admin/leave">
            <i class="fas fa-file-signature"></i>
            Leave
        </a>

        <a href="/admin/reports">
            <i class="fas fa-chart-pie"></i>
            Reports
        </a>



        <a href="/settings">
            <i class="fas fa-cog"></i>
            Settings
        </a>
    </nav>
</div>
