@page "/attendance"

<h3 class="mb-4">Attendance Records</h3>

<div class="card">

    <div class="card-body">

        <table class="table">

            <thead>
                <tr>
                    <th>Employee</th>
                    <th>Date</th>
                    <th>Check In</th>
                    <th>Check Out</th>
                    <th>Hours</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>Bat-Erdene</td>
                    <td>2026-06-09</td>
                    <td>08:52</td>
                    <td>18:03</td>
                    <td>9.1</td>
                </tr>

            </tbody>

        </table>

    </div>

</div>